{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      },
    ],
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ]
}
