.character-list {
  display: inline-block; }

.character-list-item {
  list-style: none;
  background-color: red;
  float: left;
  margin: 5px; }

.character {
  background-color: orange; }

.add-character-button {
  height: 50px; }
