@import './../common.scss';

.character-panel{

}

.character-list{
    // display: inline-block;
    padding: 0px;
}

.character-list-item {
    list-style: none;
    margin: 5px;
    display: inline-flex;
}

.character {
    // background-color: orange;
    // text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.add-character-button{
    // height: 50px;
}