.panel {
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  padding: 5px; }

.panel-header {
  font-size: 1.75em;
  margin: 5px; }

.clickable {
  cursor: pointer; }

.btn {
  width: 130px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  font-family: lotro;
  font-size: .9em;
  font-weight: bold;
  background-color: #c8c8c8;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 0px 6px #7f7f7f, 0 2px 8px rgba(0, 0, 0, 0.24), 0 4px 10px rgba(0, 0, 0, 0.48); }

.btn-success {
  background-color: #40ad2a;
  color: white;
  border: 1px solid #40ad2a; }

.btn-primary {
  background-color: #3c6dff;
  color: white;
  border: 1px solid #3c6dff; }

.btn-danger {
  background-color: #c03d3d;
  color: white;
  border: 1px solid #c03d3d; }

button:focus {
  outline: 0; }

input[type="file"] {
  display: none; }

.modal-load-label {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 118px;
  text-align: center;
  border: 1px solid #c8c8c8; }

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  outline: none; }

@media screen and (min-width: 576px) {
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 400px;
    outline: none; } }

.pull-right {
  float: right; }

@supports (display: grid) {
  @media screen and (min-width: 576px) {
    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "character character" "summary summary" "deed deed"; } }
  @media screen and (min-width: 768px) {
    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "character summary" "deed deed"; } }
  @media screen and (min-width: 1024px) {
    .site {
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "character summary" "deed deed"; } } }

.deed-panel {
  grid-area: deed; }

.deed-nav {
  margin: 5px;
  padding: 0px;
  font-size: 1em;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 10px; }

.deed-nav-link {
  margin: 0px;
  padding: 5px;
  border: none;
  border-radius: 0;
  font-family: lotro;
  font-size: .9em;
  color: rgba(58, 58, 58, 0.788);
  background-color: #f7e2b5;
  box-shadow: 0 0px 2px #7f7f7f, 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24); }

.deed-nav-link.active {
  box-shadow: 0px 0px 6px #28a745, 0 2px 8px rgba(19, 82, 34, 0.24), 0 4px 10px rgba(19, 82, 34, 0.48); }

.deed-nav-link:hover {
  box-shadow: 0 0px 6px #3c6dff, 0 2px 8px rgba(30, 54, 127, 0.24), 0 4px 10px rgba(30, 54, 127, 0.48); }

.deed-panel-left {
  grid-area: nav; }

.deed-panel-right {
  grid-area: details;
  margin: 15px; }

.nav-left {
  grid-area: nav-cat; }

.nav-right {
  grid-area: nav-sub; }

.deed {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f7e2b5;
  box-shadow: 0 0px 2px #7f7f7f, 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24); }

.deed:hover {
  box-shadow: 0 0px 6px #3c6dff, 0 2px 8px rgba(30, 54, 127, 0.24), 0 4px 10px rgba(30, 54, 127, 0.48); }

.deed.selected {
  box-shadow: 0px 0px 6px #28a745, 0 2px 8px rgba(19, 82, 34, 0.24), 0 4px 10px rgba(19, 82, 34, 0.48); }

.deed-details {
  margin: 0px;
  padding: 5px;
  background-color: #f7e2b5;
  text-align: left;
  box-shadow: 0 0 2px #7f7f7f, 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24);
  grid-area: deed-details; }

.deed-details.completed {
  box-shadow: 0 0 6px #28a745, 0 2px 8px rgba(19, 82, 34, 0.24), 0 4px 10px rgba(19, 82, 34, 0.48); }

.deed-stats {
  display: inline-flex;
  margin: 5px;
  padding: 5px 10px;
  box-shadow: 0px 0px 2px #8f7641; }

.deed-list {
  padding: 0px;
  margin: 0px;
  grid-area: deed-list; }

.deed-list-item {
  list-style: none; }

.deed-completed-btn {
  display: block;
  bottom: 7px; }

@supports (display: grid) {
  @media screen and (min-width: 768px) {
    .deed-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "nav nav" "details details"; }
    .nav-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "nav-cat nav-sub"; }
    .deed {
      margin-bottom: 0px; }
    .deed-details-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 10px; } }
  @media screen and (min-width: 1024px) {
    .deed {
      margin-bottom: 0px; }
    .deed-details-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 10px; } } }
