@import './../common.scss';

$deed-fg: rgb(143, 118, 65);
$deed-bg: rgb(247, 226, 181);
$highlight: #28a745;

.deed-panel{
}

.deed-nav{
  width: auto;
  margin: 5px;
  padding: 0px;
  font-size:  1.2em;
}

.deed-nav-item{
  display: inline-flex;
  list-style: none;
  vertical-align: middle;
}

.deed-nav-link{
  margin: 5px 5px;
  padding: 10px 10px;
  border: 2px solid $deed-fg;
  border-radius: 5px;
  color: $fg-color;
  background-color: $deed-bg;
}

.deed-nav-link.active{
  border: 2px solid $highlight;
  box-shadow: 0px 0px 15px $highlight;
}

.deed-panel-left{
    // float:left;
    margin: 5px;
}

.deed{
    margin-bottom: 5px;
    padding: 2px;
    border: 2px solid rgb(143, 118, 65);
    border-radius: 5px;
    background-color: rgb(247, 226, 181);
}

.deed.selected{
  border: 2px solid #28a745;
  box-shadow: 0px 0px 10px #28a745;
}

.deed-panel-right{
    // float:left;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid rgb(143, 118, 65);
    background-color: rgb(247, 226, 181);
}

.deed-panel-right.completed{
  border: 2px solid #28a745;
  box-shadow: 0px 0px 10px #28a745;
}

.deed-list{
    padding:0px;
    margin: 0px;
}

.deed-list-item{
    list-style: none;
}

.deed-details-panel{
    margin: 0px;
    padding: 5px;
    text-align: left;
    height: 100%;
}

.deed-completed-btn{
    // position: absolute;
    bottom: 7px;
}

.clickable{
  cursor: pointer;
}