.panel {
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  padding: 5px; }

.panel-header {
  font-size: 1.75em;
  margin: 5px; }

.clickable {
  cursor: pointer; }

.btn {
  width: 130px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  font-family: lotro;
  font-size: .9em;
  font-weight: bold;
  background-color: #c8c8c8;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 0px 6px #7f7f7f, 0 2px 8px rgba(0, 0, 0, 0.24), 0 4px 10px rgba(0, 0, 0, 0.48); }

.btn-success {
  background-color: #40ad2a;
  color: white;
  border: 1px solid #40ad2a; }

.btn-primary {
  background-color: #3c6dff;
  color: white;
  border: 1px solid #3c6dff; }

.btn-danger {
  background-color: #c03d3d;
  color: white;
  border: 1px solid #c03d3d; }

button:focus {
  outline: 0; }

input[type="file"] {
  display: none; }

.modal-load-label {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 118px;
  text-align: center;
  border: 1px solid #c8c8c8; }

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  outline: none; }

@media screen and (min-width: 576px) {
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 400px;
    outline: none; } }

.pull-right {
  float: right; }

@supports (display: grid) {
  @media screen and (min-width: 576px) {
    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "character character" "summary summary" "deed deed"; } }
  @media screen and (min-width: 768px) {
    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "character summary" "deed deed"; } }
  @media screen and (min-width: 1024px) {
    .site {
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "character summary" "deed deed"; } } }

.lotro-app {
  text-align: center;
  color: rgba(58, 58, 58, 0.788); }
