@import './../common.scss';

.lotro-app {
  text-align: center;
  color: $fg-color;
}

.page-title{
  // font-family: lotro;
}

.github-link {
  margin: 0px;
  padding: 0px;
  position:sticky;
  justify-content: center;
}

.github-svg{
  margin: 15px 10px 5px 10px;
  width: 64px;
}
