.panel {
  margin: 10px 10px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  padding: 5px; }

.panel-header {
  font-size: 1.75em;
  margin: 5px; }

.clickable {
  cursor: pointer; }

.btn {
  width: 120px;
  padding: 5px;
  margin: 2px;
  border: 1px solid rgba(156, 156, 156, 0.788);
  border-radius: 2px;
  font-family: lotro;
  background-color: rgba(156, 156, 156, 0.788); }

.btn-success {
  background-color: #40ad2a;
  color: white;
  border: 1px solid #40ad2a; }

.btn-primary {
  background-color: #3c6dff;
  color: white;
  border: 1px solid #3c6dff; }

.btn-danger {
  background-color: #c03d3d;
  color: white;
  border: 1px solid #c03d3d; }

button:focus {
  outline: 0; }
