.panel {
  margin: 10px 10px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

.panel-header {
  font-size: 1.75em; }

.clickable {
  cursor: pointer; }

.btn {
  width: 120px;
  padding: 5px;
  margin: 0px;
  border: 1px solid rgba(58, 58, 58, 0.788);
  border-radius: 3px;
  font-family: lotro; }

.btn-success {
  background-color: #40ad2a;
  color: white;
  border: 1px solid #40ad2a; }

.btn-primary {
  background-color: #3c6dff;
  color: white;
  border: 1px solid #3c6dff; }

@font-face {
  font-family: 'lotro';
  src: url("./lotro.woff") format("woff"); }

body {
  margin: 0;
  padding: 0;
  font-family: 'lotro', sans-serif;
  background-color: #fff9ee; }
